<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Flutter JS Socket Bridge</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

  <body>
    <div class="wrapper">
      <h1>Flutter JS Socket Bridge</h1>
    </div>
  </body>

  <script>
    /*
    
    WINDOW_LISTENER_EVENT_NAME -> name of the listener using which we will send events from Flutter to this application. 
    It should be same for both the applications.

    SOCKET_SERVER_ENDPOINT -> url of the server to which you want to connect.
    */

    const SOCKET_SERVER_ENDPOINT = 'https://liqr.cc/reliefo' // update it to your url.
    const WINDOW_LISTENER_EVENT_NAME = 'flutterListener'
    // const socket = io(SOCKET_SERVER_ENDPOINT, {
    //   transports: ['websocket']
    // })

    let channel, eventName
    


    function dispatchEvent(eventNameAndData) {
      const nativeCommunicator =
        typeof webkit !== 'undefined' ? webkit.messageHandlers.native : window.native
      nativeCommunicator.postMessage(eventNameAndData)
    }

    function dispatcher(eventName, eventData) {
      if (window.socket){
        console.log(window.socket.id)
        console.log(window.socket.connected)}
      if (eventName == "connect" && !window.socket.connected)
        return
      dispatchEvent(
        JSON.stringify({
          eventName,
          eventData
        })
      )
    }
    function connectAndConfigureSocket(jwt) {
      // Sample code for forwarding the event from Socket server to the dispatcher
      window.socket = io(SOCKET_SERVER_ENDPOINT, {

        transportOptions: {
          polling : {
            extraHeaders: {
              Authorization: `Bearer `+jwt
            }
          }
        }
      });


      window.socket.on('new_orders', response =>
        dispatcher('new_orders', response)
      )

      window.socket.on('assist', response =>
        dispatcher('assist', response)
      )
	    window.socket.on("logger", response =>
		    dispatcher("logger", response)
		    )
	    window.socket.on("billing", response =>
		    dispatcher("billing", response)
		    )
	    window.socket.on("restaurant_object", response =>
		    dispatcher("restaurant_object", response)
		    )
	    window.socket.on("logger", response =>
		    dispatcher("logger", response)
		    )
	    window.socket.on("logger", response =>
		    dispatcher("logger", response)
		    )
	    window.socket.on("logger", response =>
		    dispatcher("logger", response)
		    )

      // window.socket life cycle events -> start
      window.socket.on('disconnect', reason => dispatcher('disconnect', reason))
      window.socket.on('connect', () => dispatcher('connect', ''))
      window.socket.on('reconnect_attempt', () => dispatcher('reconnect_attempt', ''))
      window.socket.on('reconnect', () => dispatcher('reconnect', ''))
      // socket life cycle events -> end
      
    }

    function performEventAction(eventName, eventData) {
      switch (eventName) {
        case 'joinChannel': {
          //event Name from Flutter app
          joinChannel(eventData)
          break
        }

        case 'connect': {
        	console.log("Here you are")
          connectAndConfigureSocket(eventData);
          }
        default:
          window.socket.emit(eventName, eventData);
          break
      }
    }

    function initEverything() {
      document.addEventListener(
        WINDOW_LISTENER_EVENT_NAME,
        function(event) {
          const details = event.detail
          if (!details) {
            console.error('Details not found for the custom event.')
            return
          }
          const eventName = details.eventName
          const eventData = details.eventData
          performEventAction(eventName, eventData)
        },
        false
      )
      dispatcher('ready_to_connect', '')
    }


    window.onload = function() {
      initEverything()
      // connectAndConfigureSocket()
    }



    function leaveChannel(channelName) {
      window.socket.emit('leave', {
        channelName
      })
    }

    function joinChannel(channelName) {
      window.socket.emit('join', { channelName }) // this code pattern is dependent on how you are receiving events on your server.
    }




    

    

  </script>
</html>
